.usersContainer {
  border-radius: 6px;
  padding: 20px;
  background-color: #3c3c3c;
  flex-grow: 1;
}

.usersTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.bold {
  font-weight: 700;
}